
@{
    ViewData["Title"] = "EndPage";
}

<div class="text-center">
    <h1>Thank You!</h1>
</div>

<h3 id="message">
    That means a lot to me.
    <strong>
        Thank you so much.
    </strong>
</h3>
<style>
    #message {
        color: blueviolet
    }
</style>

