@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Devanagari Handwritten Character Collection</h4>
</div>
<h6>Partial Fulfillment of Bigyan Chapagain's Thesis</h6>
<h4 class="instruction" >
    <strong> Please Read Instructions carefully. </strong>
</h4>
<p>
    This is an attempt to collect your handwritten character set in Devanagari for my Thesis on an ANN Topic.
    It is fun process, bringing up childhood memories.
    <ul>
        <li>If you are filling the data from Mobile or Tablet, Touch-Screen is the only option to input data. Mobile/Tablet devices are best input methods.</li>
        <li>
            If you are filling the data from Laptop, Mouse is good option.
            However, Please don't use the Laptop's Touchpad / Laptop's Touch-Screen to input since it perfoms too badly for this kind of task.
        </li>
        <li>If server failed in first attempt, please try again after some time.</li>
    </ul>
    
    Thank you for your Willingness to help.
</p>
<p class="instruction" >
    Please fill in nicely within the box. <strong> For example:</strong>
</p>
<p>
    <img src="images/sample.png" style="width:250px;" />
    <a style="margin-left:5px; margin-top:5px;" href="/Home/InsertDataPage" class="btn btn-primary">
        Ok, Let's Proceed
    </a>
</p>
<style>
    .instruction 
    {
        color: blueviolet
    }
</style>